<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      Actualmente soy Analista de datos graduado de
      <a class="underline-link" href="https://tripleten.com/" target="_blank">Tripleten</a>Creando insights y Storytelling a partir de datos. Inicialmente soy graduado de
      <a class="underline-link" href="https://artesvisuales.uanl.mx/" target="_blank">Artes Visuales</a> En dondé me dedique a la Producción Multimedia en
      <a class="underline-link" href="https://www.homedepot.com/" target="_blank">The Home Depot</a>,
      <a class="underline-link" href="https://www.bufetdigital.com/" target="_blank">Bufet Digital</a>, y
      <a class="underline-link" href="https://www.institutohabitos.com/" target="_blank">Hábitos</a>.
    </p>

    <p>
      Cómo Analista de datos y Productor Multimedia, disfruto mucho el poder generar imagenes y contenido a través de los datos &mdash; Combinando mi conocimiento tecnico con mi conocimiento en datos, para poder brindar una atención detallada al cliente.
    </p>

    <p>
      <strong>Cuando no me encuentro trabajando frente la pc</strong>, Me encuentro llendo al Gym, Saliendo a pasear, cuidando a mi mascota o generando nuevas aventuras en mi vida.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
